:root{
  --bgcol3:linear-gradient(0deg, rgba(0,0,0,1) 24%, rgba(66,66,66,1) 100%);
  --bgcol2 :linear-gradient(0deg, rgba(7,117,19,1) 0%, rgba(0,0,0,1) 39%) ;
  --bgcol1 : linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,6,78,1) 100%);
  --buttoncol :white;
}

.dis {
  display: flex;
  justify-content: space-between;
}
.bar {
  background-color: white;
}
.first_div {
  padding-left: 90px;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 3px 2px #565454;
  box-sizing: border-box;
  background-color: #fff;
}
.second_div {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  padding-right: 10px;
  padding: 10px;
}
.third_div {
  display: flex;
  justify-content: space-between;
  padding-right: 150px;
}
.mult_div {
  padding: 10px;
  cursor: pointer;
}
.header{
 background: var(--bgcol1);
}
.footer{
background: var(--bgcol1);

}